<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="sidebar">

    <div class="sidebar-card shadow-sm">
        <div class="text-center mb-3">

            <a th:href="@{/}">
                <img src="/images/Cornestone-logo2.png"
                     alt="Cornerstone"
                     style="max-width: 180px; height: auto;">
            </a>

        </div>

        <div class="text-center mb-4">

            <div class="fw-bold">
                Welcome
            </div>

            <div class="text-primary"
                 sec:authentication="name">

            </div>
            <form th:action="@{/logout}" method="post" class="m-0">
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}" />

                <button type="submit"
                        class="sidebar-link border-0 w-100 text-center bg-transparent">
                    🚪 Logout
                </button>
            </form>

            <div class="small text-muted"
                 sec:authentication="principal.authorities">
            </div>

        </div>

        <a th:href="@{/users}"
           class="sidebar-link"
           sec:authorize="hasRole('SUPER_ADMIN')">
            🔐 Users
        </a>


        <a th:href="@{/units}" class="sidebar-link">🏘 Units</a>
        <a th:href="@{/tenants}" class="sidebar-link">👤 Tenants</a>
        <a th:href="@{/leases}" class="sidebar-link">📄 Leases</a>
        <a th:href="@{/unit-history}" class="sidebar-link">🔧 Work History</a>
        <a th:href="@{/managers}" class="sidebar-link">🛠 Managers</a>
    </div>
    <form th:action="@{/logout}" method="post">



    </form>

</div>

</body>
</html>