<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Units List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <link th:href="@{/css/home.css?v=5}" rel="stylesheet" />

</head>
<body class="container mt-4">

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="text-primary">Unidades (Units)</h1>
    <a th:href="@{/units/create}" class="btn btn-success">+ Añadir Unidad</a>
</div>
<hr/>

<div class="card shadow-sm p-3 mb-4">
    <h4 class="text-primary text-center mb-3">Interactive Unit Map</h4>

    <div id="mapWrapper">
        <div id="mapContent">

            <img src="/images/CorneStoneMap.png"
                 alt="Cornerstone Map"
                 id="unitMap">

            <a th:href="@{/units/9}" class="unit-btn" style="top: 954px; left: 81px;"></a>
            <a th:href="@{/units/306}" class="unit-btn" style="top: 997px; left: 82px;"></a>
            <a th:href="@{/units/308}" class="unit-btn-v" style="top: 986px; left: 147px;"></a>
            <a th:href="@{/units/310}" class="unit-btn-v" style="top: 986px; left: 176px;"></a>
            <a th:href="@{/units/312}" class="unit-btn-v" style="top: 986px; left: 216px;"></a>
            <a th:href="@{/units/314}" class="unit-btn-v" style="top: 987px; left: 244px;"></a>
            <a th:href="@{/units/316}" class="unit-btn" style="top: 992px; left: 295px;"></a>
            <a th:href="@{/units/60}" class="unit-btn" style="top: 957px; left: 296px;"></a>
            <a th:href="@{/units/70}" class="unit-btn" style="top: 898px; left: 256px;"></a>
            <a th:href="@{/units/72}" class="unit-btn" style="top: 876px; left: 256px;"></a>
            <a th:href="@{/units/74}" class="unit-btn" style="top: 854px; left: 256px;"></a>
            <a th:href="@{/units/76}" class="unit-btn" style="top: 832px; left: 256px;"></a>
            <a th:href="@{/units/78}" class="unit-btn" style="top: 786px; left: 252px;"></a>
            <a th:href="@{/units/80}" class="unit-btn" style="top: 765px; left: 248px;"></a>
            <a th:href="@{/units/82}" class="unit-btn" style="top: 742px; left: 246px;"></a>
            <a th:href="@{/units/Shed}" class="unit-btn" style="top: 709px; left: 200px;"></a>
            <a th:href="@{/units/C-Can}" class="unit-btn" style="top: 690px; left: 187px;"></a>
            <a th:href="@{/units/84}" class="unit-btn" style="top: 654px; left: 229px;"></a>
            <a th:href="@{/units/86}" class="unit-btn" style="top: 631px; left: 227px;"></a>
            <a th:href="@{/units/88}" class="unit-btn" style="top: 611px; left: 225px;"></a>
            <a th:href="@{/units/90}" class="unit-btn" style="top: 588px; left: 223px;"></a>
            <a th:href="@{/units/92}" class="unit-btn" style="top: 539px; left: 217px;"></a>
            <a th:href="@{/units/94}" class="unit-btn" style="top: 518px; left: 218px;"></a>
            <a th:href="@{/units/96}" class="unit-btn" style="top: 494px; left: 219px;"></a>
            <a th:href="@{/units/98}" class="unit-btn" style="top: 474px; left: 218px;"></a>
            <a th:href="@{/units/100}" class="unit-btn" style="top: 420px; left: 199px;"></a>
            <a th:href="@{/units/102}" class="unit-btn" style="top: 399px; left: 193px;"></a>
            <a th:href="@{/units/104}" class="unit-btn" style="top: 379px; left: 187px;"></a>
            <a th:href="@{/units/106}" class="unit-btn" style="top: 358px; left: 181px;"></a>
            <a th:href="@{/units/114}" class="unit-btn-v" style="top: 193px; left: 338px;"></a>
            <a th:href="@{/units/116}" class="unit-btn-v" style="top: 193px; left: 360px;"></a>
            <a th:href="@{/units/118}" class="unit-btn-v" style="top: 192px; left: 383px;"></a>
            <a th:href="@{/units/120}" class="unit-btn-v" style="top: 157px; left: 462px;"></a>
            <a th:href="@{/units/122}" class="unit-btn-v" style="top: 158px; left: 484px;"></a>
            <a th:href="@{/units/124}" class="unit-btn-v" style="top: 158px; left: 504px;"></a>
            <a th:href="@{/units/126}" class="unit-btn-v" style="top: 158px; left: 526px;"></a>
            <a th:href="@{/units/128}" class="unit-btn-v" style="top: 128px; left: 587px;"></a>
            <a th:href="@{/units/130}" class="unit-btn-v" style="top: 128px; left: 609px;"></a>
            <a th:href="@{/units/132}" class="unit-btn-v" style="top: 128px; left: 632px;"></a>
            <a th:href="@{/units/134}" class="unit-btn-v" style="top: 128px; left: 654px;"></a>
            <a th:href="@{/units/140-1}" class="unit-btn unit-btn-diagonal" style="top: 184px; left: 728px;"></a>
            <a th:href="@{/units/140-2}" class="unit-btn unit-btn-diagonal" style="top: 167px; left: 741px;"></a>
            <a th:href="@{/units/140-3}" class="unit-btn unit-btn-diagonal" style="top: 149px; left: 757px;"></a>
            <a th:href="@{/units/140-4}" class="unit-btn unit-btn-diagonal" style="top: 135px; left: 774px;"></a>
            <a th:href="@{/units/140-5}" class="unit-btn unit-btn-diagonal" style="top: 120px; left: 788px;"></a>
            <a th:href="@{/units/150-1}" class="unit-btn unit-btn-diagonal" style="top: 205px; left: 889px;"></a>
            <a th:href="@{/units/150-2}" class="unit-btn unit-btn-diagonal" style="top: 221px; left: 874px;"></a>
            <a th:href="@{/units/150-3}" class="unit-btn unit-btn-diagonal" style="top: 238px; left: 859px;"></a>
            <a th:href="@{/units/150-4}" class="unit-btn unit-btn-diagonal" style="top: 256px; left: 844px;"></a>
            <a th:href="@{/units/150-5}" class="unit-btn unit-btn-diagonal" style="top: 274px; left: 829px;"></a>
            <a th:href="@{/units/146-1}" class="unit-btn unit-btn-diagonal-v" style="top: 84px; left: 837px;"></a>
            <a th:href="@{/units/146-2}" class="unit-btn unit-btn-diagonal-v" style="top: 103px; left: 859px;"></a>
            <a th:href="@{/units/146-3}" class="unit-btn unit-btn-diagonal-v" style="top: 123px; left: 881px;"></a>
            <a th:href="@{/units/146-4}" class="unit-btn unit-btn-diagonal-v" style="top: 144px; left: 902px;"></a>
            <a th:href="@{/units/146LittleShed}" class="unit-btn" style="top: 175px; left: 915px;"></a>
            <a th:href="@{/units/156EventHall}" class="unit-btn-hall" style="top: 452px; left: 885px;"></a>
            <a th:href="@{/units/158}" class="unit-btn" style="top: 484px; left: 873px;"></a>
            <a th:href="@{/units/160}" class="unit-btn" style="top: 520px; left: 873px;"></a>
            <a th:href="@{/units/162}" class="unit-btn" style="top: 570px; left: 872px;"></a>
            <a th:href="@{/units/164}" class="unit-btn" style="top: 595px; left: 871px;"></a>
            <a th:href="@{/units/166}" class="unit-btn" style="top: 621px; left: 871px;"></a>
            <a th:href="@{/units/168}" class="unit-btn" style="top: 661px; left: 871px;"></a>
            <a th:href="@{/units/170}" class="unit-btn" style="top: 693px; left: 870px;"></a>
            <a th:href="@{/units/172}" class="unit-btn" style="top: 708px; left: 870px;"></a>
            <a th:href="@{/units/174}" class="unit-btn" style="top: 736px; left: 870px;"></a>
            <a th:href="@{/units/176}" class="unit-btn" style="top: 774px; left: 872px;"></a>
            <a th:href="@{/units/178}" class="unit-btn" style="top: 799px; left: 870px;"></a>
            <a th:href="@{/units/178}" class="unit-btn" style="top: 825px; left: 870px;"></a>
            <a th:href="@{/units/184}" class="unit-btn" style="top: 891px; left: 837px;"></a>
            <a th:href="@{/units/186}" class="unit-btn" style="top: 920px; left: 836px;"></a>
            <a th:href="@{/units/188}" class="unit-btn" style="top: 944px; left: 837px;"></a>
            <a th:href="@{/units/190}" class="unit-btn" style="top: 966px; left: 837px;"></a>
            <a th:href="@{/units/193}" class="unit-btn" style="top: 965px; left: 660px;"></a>
            <a th:href="@{/units/191}" class="unit-btn" style="top: 943px; left: 660px;"></a>
            <a th:href="@{/units/189}" class="unit-btn" style="top: 920px; left: 660px;"></a>
            <a th:href="@{/units/187}" class="unit-btn" style="top: 897px; left: 660px;"></a>
            <a th:href="@{/units/181}" class="unit-btn" style="top: 836px; left: 624px;"></a>
            <a th:href="@{/units/179}" class="unit-btn" style="top: 815px; left: 624px;"></a>
            <a th:href="@{/units/177}" class="unit-btn" style="top: 792px; left: 624px;"></a>
            <a th:href="@{/units/175}" class="unit-btn" style="top: 770px; left: 625px;"></a>
            <a th:href="@{/units/173}" class="unit-btn" style="top: 728px; left: 626px;"></a>
            <a th:href="@{/units/171}" class="unit-btn" style="top: 706px; left: 626px;"></a>
            <a th:href="@{/units/169}" class="unit-btn" style="top: 682px; left: 626px;"></a>
            <a th:href="@{/units/167}" class="unit-btn" style="top: 628px; left: 626px;"></a>
            <a th:href="@{/units/165}" class="unit-btn" style="top: 606px; left: 625px;"></a>
            <a th:href="@{/units/163}" class="unit-btn" style="top: 583px; left: 625px;"></a>
            <a th:href="@{/units/161}" class="unit-btn" style="top: 561px; left: 625px;"></a>
            <a th:href="@{/units/157}" class="unit-btn" style="top: 489px; left: 656px;"></a>
            <a th:href="@{/units/155}" class="unit-btn" style="top: 466px; left: 656px;"></a>
            <a th:href="@{/units/153}" class="unit-btn" style="top: 444px; left: 656px;"></a>
            <a th:href="@{/units/151}" class="unit-btn" style="top: 422px; left: 656px;"></a>
            <a th:href="@{/units/131}" class="unit-btn-v" style="top: 335px; left: 583px;"></a>
            <a th:href="@{/units/129}" class="unit-btn-v" style="top: 335px; left: 561px;"></a>
            <a th:href="@{/units/127}" class="unit-btn-v" style="top: 335px; left: 538px;"></a>
            <a th:href="@{/units/125}" class="unit-btn-v" style="top: 335px; left: 516px;"></a>
            <a th:href="@{/units/107}" class="unit-btn" style="top: 340px; left: 437px;"></a>
            <a th:href="@{/units/105}" class="unit-btn" style="top: 364px; left: 437px;"></a>
            <a th:href="@{/units/103}" class="unit-btn" style="top: 388px; left: 436px;"></a>
            <a th:href="@{/units/101}" class="unit-btn-v" style="top: 464px; left: 422px;"></a>
            <a th:href="@{/units/90}" class="unit-btn-v" style="top: 464px; left: 443px;"></a>
            <a th:href="@{/units/91}" class="unit-btn-v" style="top: 611px; left: 486px;"></a>
            <a th:href="@{/units/93}" class="unit-btn-v" style="top: 610px; left: 507px;"></a>
            <a th:href="@{/units/97}" class="unit-btn-v" style="top: 464px; left: 464px;"></a>
            <a th:href="@{/units/95}" class="unit-btn-v" style="top: 464px; left: 486px;"></a>
            <a th:href="@{/units/87}" class="unit-btn-v" style="top: 611px; left: 443px;"></a>
            <a th:href="@{/units/89}" class="unit-btn-v" style="top: 611px; left: 465px;"></a>
            <a th:href="@{/units/85}" class="unit-btn" style="top: 698px; left: 494px;"></a>
            <a th:href="@{/units/83}" class="unit-btn" style="top: 719px; left: 494px;"></a>
            <a th:href="@{/units/81}" class="unit-btn" style="top: 740px; left: 494px;"></a>
            <a th:href="@{/units/79}" class="unit-btn-v" style="top: 821px; left: 459px;"></a>
            <a th:href="@{/units/77}" class="unit-btn-v" style="top: 821px; left: 480px;"></a>
            <a th:href="@{/units/75}" class="unit-btn-v" style="top: 821px; left: 502px;"></a>
            <a th:href="@{/units/73}" class="unit-btn-v" style="top: 820px; left: 522px;"></a>
            <a th:href="@{/units/71}" class="unit-btn-v" style="top: 968px; left: 528px;"></a>
            <a th:href="@{/units/69}" class="unit-btn-v" style="top: 968px; left: 507px;"></a>
            <a th:href="@{/units/67}" class="unit-btn-v" style="top: 967px; left: 486px;"></a>
            <a th:href="@{/units/65}" class="unit-btn-v" style="top: 967px; left: 465px;"></a>










        </div>
    </div>
</div>

<div th:if="${#lists.isEmpty(units)}" class="alert alert-info text-center">
    No hay unidades registradas.
</div>





    <div class="card shadow-sm p-4 mb-4">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Unit Number</th>
                <th>Address</th>
                <th>Status</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="u : ${units}">
                <td th:text="${u.id}"></td>
                <td th:text="${u.unitNumber}"></td>
                <td th:text="${u.address}"></td>
                <td>
                    <span th:text="${u.status}"
                          class="badge"
                          th:classappend="${u.status == 'Occupied'} ? 'bg-danger' : 'bg-success'">
                    </span>
                </td>
                <td class="text-center">
                    <a th:href="@{/units/edit/{id}(id=${u.id})}" class="btn btn-sm btn-outline-primary">Edit</a>
                    <a th:href="@{/units/delete/{id}(id=${u.id})}" class="btn btn-sm btn-outline-danger ms-2">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

<div class="d-flex justify-content-center align-items-center mt-3">

    <a th:href="@{/units(page=${currentPage - 1})}"
       class="btn btn-outline-primary me-2"
       th:classappend="${currentPage == 0} ? ' disabled'">
        &lt;&lt;
    </a>

    <span>
        Page <span th:text="${currentPage + 1}"></span>
        of <span th:text="${totalPages}"></span>
    </span>

    <a th:href="@{/units(page=${currentPage + 1})}"
       class="btn btn-outline-primary ms-2"
       th:classappend="${currentPage + 1 >= totalPages} ? ' disabled'">
        &gt;&gt;
    </a>

</div>

<div class="mt-4 mb-5">
    <a th:href="@{/tenants}" class="btn btn-outline-primary">Tenants</a>
    <a th:href="@{/units}" class="btn btn-outline-info ms-2">Units</a>
    <a th:href="@{/}" class="btn btn-secondary ms-2">Home</a>
</div>

<script src="https://unpkg.com/@panzoom/panzoom@4.6.0/dist/panzoom.min.js"></script>
<script th:src="@{/js/map.js}"></script>
</body>
</html>