<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Units List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <link th:href="@{/css/home.css}" rel="stylesheet" />

</head>
<body class="container mt-4">

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="text-primary">Unidades (Units)</h1>
    <a th:href="@{/units/create}" class="btn btn-success">+ Añadir Unidad</a>
</div>
<hr/>

<div class="card shadow-sm p-3 mb-4">
    <h4 class="text-primary text-center mb-3">Interactive Unit Map</h4>

    <div id="mapWrapper">
        <div id="mapContent">

            <img src="/images/CornerStoneMapUnit.jpeg"
                 alt="Cornerstone Map"
                 id="unitMap">

            <a th:href="@{/units/9}" class="unit-btn" style="top: 856px; left: 79px;"></a>
            <a th:href="@{/units/306}" class="unit-btn" style="top: 900px; left: 79px;"></a>
            <a th:href="@{/units/308}" class="unit-btn-v" style="top: 890px; left: 145px;"></a>
            <a th:href="@{/units/310}" class="unit-btn-v" style="top: 890px; left: 175px;"></a>
            <a th:href="@{/units/312}" class="unit-btn-v" style="top: 890px; left: 215px;"></a>
            <a th:href="@{/units/314}" class="unit-btn-v" style="top: 890px; left: 243px;"></a>
            <a th:href="@{/units/316}" class="unit-btn" style="top: 859px; left: 295px;"></a>
            <a th:href="@{/units/60}" class="unit-btn" style="top: 893px; left: 295px;"></a>
            <a th:href="@{/units/70}" class="unit-btn" style="top: 802px; left: 257px;"></a>
            <a th:href="@{/units/72}" class="unit-btn" style="top: 780px; left: 256px;"></a>
            <a th:href="@{/units/74}" class="unit-btn" style="top: 757px; left: 256px;"></a>
            <a th:href="@{/units/76}" class="unit-btn" style="top: 735px; left: 256px;"></a>
            <a th:href="@{/units/78}" class="unit-btn" style="top: 689px; left: 252px;"></a>
            <a th:href="@{/units/80}" class="unit-btn" style="top: 667px; left: 249px;"></a>
            <a th:href="@{/units/82}" class="unit-btn" style="top: 646px; left: 245px;"></a>
            <a th:href="@{/units/Shed}" class="unit-btn unit-btn-diagonal-v" style="top: 613px; left: 196px;"></a>
            <a th:href="@{/units/84}" class="unit-btn" style="top: 556px; left: 227px;"></a>
            <a th:href="@{/units/86}" class="unit-btn" style="top: 534px; left: 225px;"></a>
            <a th:href="@{/units/88}" class="unit-btn" style="top: 512px; left: 223px;"></a>
            <a th:href="@{/units/90}" class="unit-btn" style="top: 489px; left: 222px;"></a>
            <a th:href="@{/units/92}" class="unit-btn" style="top: 441px; left: 216px;"></a>
            <a th:href="@{/units/94}" class="unit-btn" style="top: 419px; left: 216px;"></a>
            <a th:href="@{/units/96}" class="unit-btn" style="top: 397px; left: 216px;"></a>
            <a th:href="@{/units/98}" class="unit-btn" style="top: 374px; left: 216px;"></a>
            <a th:href="@{/units/100}" class="unit-btn" style="top: 321px; left: 199px;"></a>
            <a th:href="@{/units/102}" class="unit-btn" style="top: 301px; left: 192px;"></a>
            <a th:href="@{/units/104}" class="unit-btn" style="top: 281px; left: 186px;"></a>
            <a th:href="@{/units/106}" class="unit-btn" style="top: 260px; left: 180px;"></a>
            <a th:href="@{/units/114}" class="unit-btn-v" style="top: 95px; left: 337px;"></a>
            <a th:href="@{/units/116}" class="unit-btn-v" style="top: 93px; left: 361px;"></a>
            <a th:href="@{/units/118}" class="unit-btn-v" style="top: 94px; left: 383px;"></a>
            <a th:href="@{/units/120}" class="unit-btn-v" style="top: 59px; left: 463px;"></a>
            <a th:href="@{/units/122}" class="unit-btn-v" style="top: 58px; left: 484px;"></a>
            <a th:href="@{/units/124}" class="unit-btn-v" style="top: 57px; left: 505px;"></a>
            <a th:href="@{/units/126}" class="unit-btn-v" style="top: 57px; left: 526px;"></a>
            <a th:href="@{/units/128}" class="unit-btn-v" style="top: 28px; left: 587px;"></a>
            <a th:href="@{/units/130}" class="unit-btn-v" style="top: 27px; left: 610px;"></a>
            <a th:href="@{/units/132}" class="unit-btn-v" style="top: 28px; left: 633px;"></a>
            <a th:href="@{/units/134}" class="unit-btn-v" style="top: 28px; left: 655px;"></a>
            <a th:href="@{/units/140-1}" class="unit-btn unit-btn-diagonal" style="top: 85px; left: 731px;"></a>
            <a th:href="@{/units/140-2}" class="unit-btn unit-btn-diagonal" style="top: 69px; left: 745px;"></a>
            <a th:href="@{/units/140-3}" class="unit-btn unit-btn-diagonal" style="top: 51px; left: 761px;"></a>
            <a th:href="@{/units/140-4}" class="unit-btn unit-btn-diagonal" style="top: 36px; left: 776px;"></a>
            <a th:href="@{/units/140-5}" class="unit-btn unit-btn-diagonal" style="top: 21px; left: 789px;"></a>
            <a th:href="@{/units/150-1}" class="unit-btn unit-btn-diagonal" style="top: 106px; left: 891px;"></a>
            <a th:href="@{/units/150-2}" class="unit-btn unit-btn-diagonal" style="top: 121px; left: 876px;"></a>
            <a th:href="@{/units/150-3}" class="unit-btn unit-btn-diagonal" style="top: 138px; left: 861px;"></a>
            <a th:href="@{/units/150-4}" class="unit-btn unit-btn-diagonal" style="top: 157px; left: 847px;"></a>
            <a th:href="@{/units/150-5}" class="unit-btn unit-btn-diagonal" style="top: 175px; left: 831px;"></a>
            <a th:href="@{/units/146-2}" class="unit-btn unit-btn-diagonal-v" style="top: 4px; left: 862px;"></a>
            <a th:href="@{/units/146-3}" class="unit-btn unit-btn-diagonal-v" style="top: 24px; left: 884px;"></a>
            <a th:href="@{/units/146-4}" class="unit-btn unit-btn-diagonal-v" style="top: 44px; left: 905px;"></a>
            <a th:href="@{/units/146 little Shed}" class="unit-btn unit-btn-diagonal" style="top: 75px; left: 918px;"></a>
            <a th:href="@{/units/156 hall event}" class="unit-btn-hall" style="top: 353px; left: 890px;"></a>
            <a th:href="@{/units/158}" class="unit-btn" style="top: 387px; left: 877px;"></a>
            <a th:href="@{/units/160}" class="unit-btn" style="top: 420px; left: 875px;"></a>
            <a th:href="@{/units/162}" class="unit-btn" style="top: 472px; left: 874px;"></a>
            <a th:href="@{/units/164}" class="unit-btn" style="top: 497px; left: 874px;"></a>
            <a th:href="@{/units/166}" class="unit-btn" style="top: 524px; left: 873px;"></a>
            <a th:href="@{/units/168}" class="unit-btn" style="top: 563px; left: 874px;"></a>
            <a th:href="@{/units/170}" class="unit-btn" style="top: 593px; left: 872px;"></a>
            <a th:href="@{/units/172}" class="unit-btn" style="top: 612px; left: 872px;"></a>
            <a th:href="@{/units/174}" class="unit-btn" style="top: 638px; left: 873px;"></a>
            <a th:href="@{/units/176}" class="unit-btn" style="top: 676px; left: 874px;"></a>
            <a th:href="@{/units/178}" class="unit-btn" style="top: 701px; left: 872px;"></a>
            <a th:href="@{/units/180}" class="unit-btn" style="top: 728px; left: 873px;"></a>
            <a th:href="@{/units/184}" class="unit-btn" style="top: 794px; left: 838px;"></a>
            <a th:href="@{/units/186}" class="unit-btn" style="top: 822px; left: 838px;"></a>
            <a th:href="@{/units/188}" class="unit-btn" style="top: 848px; left: 838px;"></a>
            <a th:href="@{/units/190}" class="unit-btn" style="top: 869px; left: 838px;"></a>
            <a th:href="@{/units/193}" class="unit-btn" style="top: 869px; left: 661px;"></a>
            <a th:href="@{/units/191}" class="unit-btn" style="top: 846px; left: 661px;"></a>
            <a th:href="@{/units/189}" class="unit-btn" style="top: 824px; left: 661px;"></a>
            <a th:href="@{/units/187}" class="unit-btn" style="top: 801px; left: 661px;"></a>
            <a th:href="@{/units/181}" class="unit-btn" style="top: 740px; left: 625px;"></a>
            <a th:href="@{/units/179}" class="unit-btn" style="top: 717px; left: 625px;"></a>
            <a th:href="@{/units/177}" class="unit-btn" style="top: 695px; left: 626px;"></a>
            <a th:href="@{/units/175}" class="unit-btn" style="top: 672px; left: 625px;"></a>
            <a th:href="@{/units/173}" class="unit-btn" style="top: 630px; left: 627px;"></a>
            <a th:href="@{/units/171}" class="unit-btn" style="top: 608px; left: 626px;"></a>
            <a th:href="@{/units/169}" class="unit-btn" style="top: 585px; left: 626px;"></a>
            <a th:href="@{/units/167}" class="unit-btn" style="top: 530px; left: 627px;"></a>
            <a th:href="@{/units/165}" class="unit-btn" style="top: 508px; left: 627px;"></a>
            <a th:href="@{/units/163}" class="unit-btn" style="top: 485px; left: 627px;"></a>
            <a th:href="@{/units/161}" class="unit-btn" style="top: 463px; left: 626px;"></a>
            <a th:href="@{/units/157}" class="unit-btn" style="top: 390px; left: 658px;"></a>
            <a th:href="@{/units/155}" class="unit-btn" style="top: 368px; left: 657px;"></a>
            <a th:href="@{/units/153}" class="unit-btn" style="top: 345px; left: 657px;"></a>
            <a th:href="@{/units/151}" class="unit-btn" style="top: 323px; left: 657px;"></a>
            <a th:href="@{/units/131}" class="unit-btn-v" style="top: 235px; left: 584px;"></a>
            <a th:href="@{/units/129}" class="unit-btn-v" style="top: 237px; left: 562px;"></a>
            <a th:href="@{/units/127}" class="unit-btn-v" style="top: 236px; left: 539px;"></a>
            <a th:href="@{/units/125}" class="unit-btn-v" style="top: 236px; left: 516px;"></a>
            <a th:href="@{/units/107}" class="unit-btn" style="top: 241px; left: 437px;"></a>
            <a th:href="@{/units/105}" class="unit-btn" style="top: 265px; left: 436px;"></a>
            <a th:href="@{/units/103}" class="unit-btn" style="top: 289px; left: 436px;"></a>
            <a th:href="@{/units/101}" class="unit-btn-v" style="top: 366px; left: 422px;"></a>
            <a th:href="@{/units/99}" class="unit-btn-v" style="top: 366px; left: 443px;"></a>
            <a th:href="@{/units/97}" class="unit-btn-v" style="top: 365px; left: 465px;"></a>
            <a th:href="@{/units/95}" class="unit-btn-v" style="top: 365px; left: 486px;"></a>
            <a th:href="@{/units/93}" class="unit-btn-v" style="top: 513px; left: 507px;"></a>
            <a th:href="@{/units/91}" class="unit-btn-v" style="top: 512px; left: 486px;"></a>
            <a th:href="@{/units/90}" class="unit-btn-v" style="top: 513px; left: 465px;"></a>
            <a th:href="@{/units/89}" class="unit-btn-v" style="top: 513px; left: 444px;"></a>
            <a th:href="@{/units/85}" class="unit-btn" style="top: 600px; left: 495px;"></a>
            <a th:href="@{/units/83}" class="unit-btn" style="top: 622px; left: 495px;"></a>
            <a th:href="@{/units/81}" class="unit-btn" style="top: 643px; left: 495px;"></a>
            <a th:href="@{/units/79}" class="unit-btn-v" style="top: 725px; left: 459px;"></a>
            <a th:href="@{/units/77}" class="unit-btn-v" style="top: 724px; left: 481px;"></a>
            <a th:href="@{/units/75}" class="unit-btn-v" style="top: 724px; left: 502px;"></a>
            <a th:href="@{/units/73}" class="unit-btn-v" style="top: 724px; left: 523px;"></a>
            <a th:href="@{/units/71}" class="unit-btn-v" style="top: 871px; left: 528px;"></a>
            <a th:href="@{/units/69}" class="unit-btn-v" style="top: 871px; left: 507px;"></a>
            <a th:href="@{/units/67}" class="unit-btn-v" style="top: 871px; left: 486px;"></a>
            <a th:href="@{/units/65}" class="unit-btn-v" style="top: 871px; left: 464px;"></a>
            <a th:href="@{/units/C-Can}" class="unit-btn unit-btn-diagonal-v" style="top: 594px; left: 184px;"></a>


        </div>
    </div>
</div>

<div th:if="${#lists.isEmpty(units)}" class="alert alert-info text-center">
    No hay unidades registradas.
</div>





    <div class="card shadow-sm p-4 mb-4">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Unit Number</th>
                <th>Address</th>
                <th>Status</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="u : ${units}">
                <td th:text="${u.id}"></td>
                <td th:text="${u.unitNumber}"></td>
                <td th:text="${u.address}"></td>
                <td>
                    <span th:text="${u.status}"
                          class="badge"
                          th:classappend="${u.status == 'Occupied'} ? 'bg-danger' : 'bg-success'">
                    </span>
                </td>
                <td class="text-center">
                    <a th:href="@{/units/edit/{id}(id=${u.id})}" class="btn btn-sm btn-outline-primary">Edit</a>
                    <a th:href="@{/units/delete/{id}(id=${u.id})}" class="btn btn-sm btn-outline-danger ms-2">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

<div class="d-flex justify-content-center align-items-center mt-3">

    <a th:href="@{/units(page=${currentPage - 1})}"
       class="btn btn-outline-primary me-2"
       th:classappend="${currentPage == 0} ? ' disabled'">
        &lt;&lt;
    </a>

    <span>
        Page <span th:text="${currentPage + 1}"></span>
        of <span th:text="${totalPages}"></span>
    </span>

    <a th:href="@{/units(page=${currentPage + 1})}"
       class="btn btn-outline-primary ms-2"
       th:classappend="${currentPage + 1 >= totalPages} ? ' disabled'">
        &gt;&gt;
    </a>

</div>

<div class="mt-4 mb-5">
    <a th:href="@{/tenants}" class="btn btn-outline-primary">Tenants</a>
    <a th:href="@{/units}" class="btn btn-outline-info ms-2">Units</a>
    <a th:href="@{/}" class="btn btn-secondary ms-2">Home</a>
</div>

<script src="https://unpkg.com/@panzoom/panzoom@4.6.0/dist/panzoom.min.js"></script>
<script th:src="@{/js/map.js}"></script>
</body>
</html>